<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Bank of information"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".fixProfileData"
            android:exported="false" />
        <activity
            android:name=".testik"
            android:exported="false" />
        <activity
            android:name=".UsersProfile"
            android:exported="true"
            android:label="Профиль пользователя"
            android:parentActivityName=".LastSolutions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchingResults"
            android:exported="true"
            android:label="Результаты загрузки"
            android:parentActivityName=".LastSolutions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InformationAboutTheSolution"
            android:exported="true"
            android:label="Последняя загруженная работа"
            android:parentActivityName=".LastSolutions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Download"
            android:exported="true"
            android:label="Создание решений"
            android:parentActivityName=".LastSolutions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LastSolutions"
            android:exported="true"
            android:label="Последние решения"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Регистрация"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Bank of information"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>